# Neobem

Neobem is a preprocessor programming language primarily targeted for the idf input files for [EnergyPlus](https://energyplus.net).
It also support the Building Description Language used for [DOE-2](https://www.doe2.com/).

You can view the entire user manual in PDF form at
[here](https://neobem.io/neobem.pdf) and online at [neobem.io](https://neobem.io).

INCLUDE doc/intro.md

INCLUDE doc/getting_started.md

<!-- vim:set ft=markdown: -->
